<main class="crud-product">

    <div>
        <h1 class="deleted-product">Sản Phẩm Đã Xóa</h1>
    </div>
    <div class="turnback">
        <a href="/products/create-update-delete">Quay Lại</a>
    </div>

    <table class="deleted-product-table">
        <thead>
        <tr>
            <th>STT</th>
            <th>Name</th>
            <th>Description</th>
            <th>Image</th>
            <th>Price</th>
        </tr>
        </thead>

        {{#each products}}
        <tbody>
        <tr class="{{this._id}}">
            <td>{{sum @index 1}}</td>
            <td>{{this.name}}</td>
            <td>{{this.description}}</td>
            <td><img src="{{this.image}}" alt="" style="height: 30px; width:30px;"></td>
            <td>{{this.price}}</td>
            <td>
                <a href="#dialog-modal" data-id="{{this._id}}" class="get-id-edit">Khôi Phục</a>
                <a href="#dialog-modal" data-id="{{this._id}}" class="get-id-delete">Xóa Vĩnh Viễn</a>
            </td>
        </tr>
        {{else}}
        <tr>
            <td colspan="6">Thùng Rác Trống! </td>
        </tr>
        {{/each}}
        </tbody>
    </table>


</main>

<div id="dialog-modal">
    <a href="#" class="dialog-modal-close-out"></a>
    <div class="dialog-modal-body">
        <a class="dialog-modal-close fa fa-times-circle" href="#"></a>
        <div class="notice"><h3>Bạn muốn khôi phục?</h3></div>
        <div class="answer">
            <a href="#">NO</a>
            <a id="delete-products-comfirm">YES</a>
        </div>
        
    </div>
</div>


<form name="restore-product-form" method="POST"></form>